/* this is the style I use. Put in external css file and link the 3 html files to it */
   
ul.MenuBarHorizontal { 
	margin-top:0;
    background: #333;
    height: 30px;
    width: 90%;
    padding: 0 5%;
}

ul.MenuBarHorizontal > li {
    float: left;
    position: relative; 
}

ul.MenuBarHorizontal ul {
    background: #444;
    display: none;
    position: absolute;
    left: 0; top: 100%;
}

ul.MenuBarHorizontal a {
	text-decoration: none;
    cursor: pointer;
    display: block;
    color: #FFF;
    line-height: 30px;
    padding: 0 10px;
}

ul.MenuBarHorizontal li { list-style: none; }

ul.MenuBarHorizontal li:hover { background: #555;  }
ul.MenuBarHorizontal li:hover ul { display: block;  }